<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
<section>

<div class="card ms-md-4 me-md-4">
<div th:if="${totalPages!=0}"  class="card-body">
<div th:if="${session.message}" th:classappend="${session.message.type}" class="container text-center alert mb-2 mt-2">
<p th:text="${session.message.content}"></p>
<th:block th:text="${@sessionHelper.RemoveMessageFromSession()}"></th:block>
</div>
<h1 class="text-center">Your Contacts</h1>

<!-- search -->
<div class="search-container my-4">
<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your contacts">
<div class="search-result">
result
</div>                 
</div>

<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
      </th>
    </tr>
  </thead>
  <tbody>
  
    <tr th:each="c: ${contact}">
      <th scope="row">1</th>
      <td><img class="contacts_pic" src="" th:src="@{'/img/'+${c.image}}" alt="pic"></img><span th:text="${c.name}"></span></td>
      <td>
      <a href="#" th:href="@{'/user/'+${c.cId}+'/contact'}">
      <span th:text="${c.email}"></span>
      </a>
      </td>
      <td th:text="${c.phone}"></td>
      <td>
      <form th:action="@{'/user/update/'+${c.cId}}" method="post">
      <button type="submit" class="btn  btn-outline-primary">Update</button>
      </form>
      <a th:onclick="|dltbtn(${c.cId})|"  type="button" class="btn  btn-outline-danger">Delete</a>
      </td>
    </tr>
     </tbody>
</table>
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li th:if="${currentPage != 0}" class="page-item">
      <a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${currentPage-1}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li  th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item">
    <a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${i-1}}"  th:text="${i}"></a>
    </li>
 
    <li th:if="${currentPage+1 != totalPages}" class="page-item">
      <a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${currentPage+1}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
    
 </div>
</div>
<h1 class="text-center" th:unless="${totalPages!=0}">ADD CONTACTS FIRST</h1> 
</div>
</section>
</body>
</html>