<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
<section class="col-md-8 offset-md-2 p-5 shadow p-3 mb-5 bg-body-tertiary rounded">
<h1 class="text-center mb-4">UPDATE CONTACT</h1>
<div class="container">
    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-success text-center">
    <p th:text="${session.message.content}"></p>
<th:block th:text="${@sessionHelper.RemoveMessageFromSession()}"></th:block>
    </div>
    </div>
<form 
action="#"
 th:object="${contact}"
  enctype="multipart/form-data"
  th:action="@{/user/process_update}"
   method="POST"
 >

<input type="hidden" th:value="${contact.cId}" name="cId"></input>
<!-- form inputs -->
<div class="input-group mb-3">
  <span class="input-group-text"><i class="fa-solid fa-plus"></i></span>
  <div class="form-floating">
    <input th:value="${contact.name}" type="text" name="name" class="form-control" id="floatingInputGroup1" placeholder="Username">
    <label for="floatingInputGroup1">Name</label>
  </div>
</div>

<div class="input-group mb-3">
  <span class="input-group-text"><i class="fa-solid fa-circle-user"></i></span>
  <div class="form-floating">
    <input type="text" th:value="${contact.nickname}" name="nickname" class="form-control" id="floatingInputGroup1" placeholder="Username">
    <label for="floatingInputGroup1">Nick Name</label>
  </div>
</div>

<div class="input-group mb-3">
  <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
  <div class="form-floating">
    <input type="text" th:value="${contact.phone}" name="phone" class="form-control" id="floatingInputGroup1" placeholder="Username">
    <label for="floatingInputGroup1">Phone Number</label>
  </div>
</div>

<div class="input-group mb-3">
  <span class="input-group-text">@</span>
  <div class="form-floating">
    <input type="email" th:value="${contact.email}" name="email" class="form-control" id="floatingInputGroup1" placeholder="Username">
    <label for="floatingInputGroup1">E-mail</label>
  </div>
</div>

<div class="input-group mb-3">
  <span class="input-group-text"><i class="fa-solid fa-briefcase"></i></span>
  <div class="form-floating">
    <input type="text" th:value="${contact.work}" name="work" class="form-control" id="floatingInputGroup1" placeholder="Username">
    <label for="floatingInputGroup1">Work</label>
  </div>
</div>

<div class="form-floating mb-3">
  <textarea class="form-control" th:value="${contact.description}" name="description" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Description</label>
</div>
<div class="container text-center">
<img style="width:200px; height:200px; border-radius:50%;" class="img-fluid" th:src="@{'/img/'+${contact.image}}"></img>
</div>
<div class="mb-3">
  <label for="formFile"  class="form-label">Choose another file</label>
  <input class="form-control" name="profile_image" type="file" id="formFile">
</div>

<div class="container mt-4">
 <button type="submit" class="btn btn-outline-success">Update Contact</button>
 </div>
</form>
</section>
	
	
</body>
</html>