<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
<section>
<div class="card ms-md-4 me-md-4">
<div class="card-body text-center">
<img style="width: 200px; height:200px;" th:src="@{/img/home.png}" alt="png">
<h1>Smart Contact Manager</h1>
<br>
<h3>Tired of sifting through scattered sticky notes and lost phone numbers? Our Smart Contact Manager is here to make your life easier. With a clean and straightforward interface, adding and accessing contact information has never been more convenient.</h3>
<a th:href="@{/user/add_contact}" class="btn btn-primary btn-lg position-relative overflow-hidden">
      Add Contact
    </a>
</div>
</div>
</section>
</body>
</html>